main{
	background-image: url(../images/ffondo2.jpg);
	background-size: 100% 100%;
	background-attachment: fixed;
}

body{
	
      
} 
#imagen{
margin-top: 40px;


}


video{
	margin: 0;
	width: 100%;
	margin-top: 0;
}

#log{
	margin-top: 80px;
}
form{

	margin-left: 30px;
}

.modal {
	width: 70% !important ;
	height: 80% !important ;
	margin-left: 30px;
}
